*{
    font-family: 'Odibee Sans', cursive;
}

body{
    background: rgb(131,131,134);
    background: radial-gradient(circle, rgba(131,131,134,0.9587185215883228) 0%, rgba(145,142,250,1) 0%, rgba(255,255,255,1) 0%, rgba(112,103,112,1) 0%, rgba(9,9,9,1) 82%, rgba(249,249,249,1) 99%, rgba(213,70,190,1) 100%, rgba(232,2,223,0) 100%);
   
}

h5{
    margin-top: 2%;
    color: white;
}

p{
    color: white;
}



.card{
    background: rgb(131,131,134);
background: radial-gradient(circle, rgba(131,131,134,0.9587185215883228) 0%, rgba(145,142,250,1) 0%, rgba(255,255,255,1) 0%, rgba(112,103,112,1) 0%, rgba(9,9,9,1) 97%, rgb(17, 17, 17) 99%, rgb(108, 102, 102) 100%, rgba(232,2,223,0) 100%);
    border: none;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.703);
}
footer{
    display: grid;
    grid-template-columns: 1fr;
  
}
 .fa-instagram {
       margin: auto;
       font-size: 40px;
     
}
h4{
    margin: auto;
}